/* Setando atributos em todos elementos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Foi necessário o heigth para a imagem ocupar toda tela */
body{
    height: 100vh;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.conteiner{
    text-align: center;
}

.conteiner .name h1{
    font-size: 45px;
}

.conteiner .name h5{
    font-size: 20px;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}

.form{
    width: 40%;
}